body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #404040;
  font-family: 'Roboto', sans-serif;
}

.container{
  width: 1170px;
  margin: 0 auto;
}

.header{
  height: 200px;
}

.mainContent{

}